/* css.css */


.logo-container,
.title-container,
.map-container {
  text-align: center;
  margin-bottom: 20px;
}

.map-container {
  position: relative;
}

/* Estilo para o título (h1) */
h1 {
  margin: 0;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
  }
  
  
.loc {
  text-align: center;
}
  
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .menu li {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #e1e1e1;
  }
  
  .menu li:last-child {
    border-bottom: none;
  }
  
  .menu li img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  
  #footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  